.box{
    padding: 50px 20px;
    margin: 10px;
    border-radius: 6px;
    transition: 0.5s;
    // bgColor="darkgray"
    background-color: darkgray;
   
    
}
.box:hover {
    background-color: darkgreen;
    transform: translate(0px,-10px);
}
// .box :hover {
//     background-color:rgb(0, 255, 106);
//     transform: translate(0px,-10px);
// }